%html
  %body
    .container-fluid{class: "content_show_home"}
      .row
        .container-fluid{class: "search_bar"}
          .search
            = search_form_for @q do |f|
              .form-inline
                =f.search_field :name_start, class: "form-control", placeholder: "Search"
                =f.submit "Go", class: "btn btn-success"
                = link_to('Logout', destroy_user_session_path, :method => :delete, class:"btn btn-danger")
        .container-fluid{class: "listing"}
          - @lectures.each do |lecture|
            .list_lect
              %table{class:"table-hover table-responsive tablestyle"}
                %tbody
                  %tr
                    %td= link_to lecture.name, lecture, :action => :show, class: "btn btn-link"
                    %td= link_to 'Edit', edit_lecture_path(lecture)
    .container-fluid{class:"footer"}