.container-fluid{class: "content_show_home"}
  .row
    .col-lg-6
      .container-fluid{class: "listing"}
        %h1 Teachers
        - @teachers.each do |teacher|
          .list_lect
            %table{class:"table-hover table-responsive tableteacher"}
              %tbody
                %tr
                  %td= link_to teacher.name, teacher, :action => :show, class: "btn btn-link"
                  %td= teacher.degree
          .col-lg-6
    .col-lg-6
      - @users.each do |u|
        = u.email