/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
.announce{
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 5px;
  font-size: 1em;
  text-align: justify;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.admin_nav{
  min-height: 30px;
  height: auto;
  background-color: #333333;
  filter: alpha(opacity=0.8);
  -moz-opacity: 0.8;    /* Old Mozilla Browsers */
  -webkit-opacity: 0.8;    /* Old Webkit browsers (Safari, Chrome, various others) */
  -khtml-opacity: 0.8;
  opacity: 0.8;
  padding: 5px;
}
.admin-welcome{
  min-height: 20px;
  height: auto;
  color: white;
}
.activeadmin{
  width: 100%;
  color: white;
}
.tablestyle td{
  padding: 10px;
}
.list td{
  display: inline-table;
  color: white;
  width: 20px;
}
.nav_main{
  background-color: #3c74ad;
  min-height: 50px;
  height: auto;
  padding: 10px;
  z-index: 10;
}


.tablestyle{
  width: 100%;
}
.table-announcement{
  width: 100%;
}
.table-announcement td{
  font-size: 1em;
  padding: 10px;
}
.table_phone td{
  padding: 10px;
  font-size: 2em;
}
.content_show_home{
  padding-top: 10px;
  margin-bottom: 0px !important;
  min-height: 1000px;
  height: auto;
  z-index: 1;
}
.content-area{
  min-height: 1000px;
  height: auto;
  padding: 0px;
}
.showlect_phone{
  width: 100%;
  height: 70px;
  background-color: #23ad72;
  display: block;
}
.list_lect{
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
  display: block;
  margin-bottom: 10px;
}
.admin-nav{
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  height: auto;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
}
.list_announcement{
  width: 29%;
  height: auto;
  font-size: 1em;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
  display: inline-block;
  margin: 2%;
}
.btn:visited{
  color: inherit;
}
.table-admin td{
  width: 30%;
}
.table-admin tr:nth-child(1){
  width: 30%;
}
.list{
  width: 100%;
}
.ann_count{
  width: 10%;
}
.count-wrap{
  border-radius: 100%;
}
.footer{
  height: 60px;
  background-color: #418ead;
  text-align: center;
  color: white;
  padding: 5px;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
}
.search_bar{
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
  height: auto;
  margin-bottom: 10px;
  padding: 2%;
}
.login{
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 1.5px black;
}
.show_lecture_background{
  background-color: #24ad72;
  min-height: 1200px;
  width: 100%;
}
.lecture_table{
  width: 100%;
  font-size: 1.3em;
}
.infotable{
  margin: 10px;
  background-color: white;
}
.announcement{
  text-align: center;
  margin: 10px;
  background-color: white;
}
.counted{
  width: 100%;
  margin-top: 10px;
}
.new_form{
  background-color: #23ad72;
  padding-top: 10px;
}
.main_nav{
  min-height: 50px;
  padding: 5px;
  height: auto;
  background-color: #418ead;
  box-shadow: 0px 0px 1.5px black;
}
.table-menu{
  width: 30%;
}
.table-menu td{
  color: white;
  padding: 5px;
  width: 10%;
}
.log_out:visited{
  color: white;
}
.log_out{
  color: white;
}
.session{
  padding: 5px;
}
.search_for_lecture{
  width: 100%;
}
.video-embed{
  width: 100%;
  margin-bottom: 10px;
  height: 360px;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
}
.thumb{
  width: 100%;
  height: 250px;
}
.feed{
  display: inline-block;
  border-bottom: 0.5px solid rgba(0,0,0,0.3);
}
.btnso{
  width: 60px;
  background-color: #23ad72;
}
.link_to:hover{
  display: none;
}
.heading{
  height: 60px;
  padding: 10px;
  text-align: center;
  border-top: 0.5px solid rgba(0,0,0,0.3);
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  color: #5c5c5c;
  overflow: hidden;
}
.heading p{
  font-size: 1.5em;
  margin-top: 15px;
  letter-spacing: 2px;
}
.copyright{
  padding: 10px;
  text-align: center;
}
.tableteacher{
  width: 100%;
}
.tableteacher td{
  width: 50%;
}
.btn-facebook
{
  color: yellow;
}
.btn:visited{
  display: none;
}
.session{
  color: white;
}
.btn-facebook{
  background-color: #1362e9;
}
.btn-facebook:hover{
  background-color: #3980e9;
}
.btn-badge{
  background-color: #3c74ad;
}
.btn-count {
  background-color: #418ead !important;
}
.btn-dash:hover{
  color: white !important;
}
.headwrap{
  width: 100%;
  background-color: #3c74ad !important;
}
.home-video{
  height: auto;
}
.rightsidebar-home{
  height: auto;
  margin-bottom: 10px;
}
.btn-teacher-name{
  color: white;
}
.btn-teacher-name:visited{
  color: white !important;
}