// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumb-user{
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 35px;
}