// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-teacher{
  height: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
}
.label-column{
  width: 100%;
  background-color: #418ead;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
  padding: 2px;
  text-align: center;
  color: white;
  border-radius: 2px;
}
.list_teachers{
  width: 29%;
  min-height: 400px;
  height: auto;
  font-size: 1em;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
  display: inline-block;
  margin: 2%;
  border-radius: 10px;
  overflow: hidden;
}
.thumbt{
  width: 120px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px solid white;
}
.tcoverhome{
  height: 200px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
}
.img-circle-size{
  width: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 3px solid white;
  height: 100px;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.7);
}